#SERVER
HOST=localhost
PORT=3000
DB_PORT=5432
FRONTHOST=localhost
FRONTPORT=5173

DB_USERNAME=postgres
PASSWORD=123
#JWT
JWT_SECRET = "SECRETO JWT"
JWT_EXPIRATION = "1w"
#DATABASE
DATABASE=senagest
#MAILER
MAILER_SERVICE='gmail'
MAILER_USER='bot@gmail.com'
MAILER_PASS='xkjdhgfsytrwpoiu'